{% extends "marketplace/base.html" %}
{% load widget_tweaks %}

{% block content %}
<div>
    <div class="position-static border border-secondary profile-shadow" style="margin:20px; padding:20px">
      <legend class="border-bottom mb-4" style="text-align:center">Transactions Dashboard</legend>
        <form >
          <div class="row align-items-end" >
            <div class="form-group col">
              {{ filter.form.customer.label_tag }}
              {% render_field filter.form.customer class="form-control" %}
            </div>
            <div class="form-group col">
              {{ filter.form.transaction_id.label_tag }}
              {% render_field filter.form.transaction_id class="form-control" %}
            </div>
            <div class="form-group col">
              {{ filter.form.delivery_status.label_tag }}
              {{ filter.form.delivery_status.option_tag }}
              {% render_field filter.form.delivery_status class="form-control" %}
            </div>
            <div class="form-group col">
              {{ filter.form.payment_status.label_tag }}
              {{ filter.form.payment_status.option_tag }}
              {% render_field filter.form.payment_status class="form-control" %}
            </div>
            <div class="form-group col">
              {{ filter.form.start_date_filter.label_tag }}
              {% render_field filter.form.start_date_filter class="form-control" %}
            </div>
            <div class="form-group col">
              {{ filter.form.end_date_filter.label_tag }}
              {% render_field filter.form.end_date_filter class="form-control" %}
            </div>
            
        </div>
          <button class="btn btn-a" type="submit">Search</button>
        </form>
    </div>
    <div >
        <div class="border border-secondary profile-shadow" style="margin: 20px; padding:20px; "> 
            <legend class="border-bottom mb-4" style="text-align:center">All Transactions</legend>
            <table class="table table-striped table-responsive text-center" style="max-height: 1000px; overflow: auto; margin: auto; width:100%">
                <thead>
                  <tr>
                    <th scope="col">Customer</th>
                    <th scope="col">Address</th>
                    <th scope="col">Date</th>
                    <th scope="col">Transaction No.</th>
                    <th scope="col">No. of items</th>
                    <th scope="col">Items</th>
                    <th scope="col">Order Cost</th>
                    <th scope="col">Delivery Status</th>
                    <th scope="col">Mark Delivery As</th>
                  </tr>
                </thead>
                <tbody >
                {% for items in product_order %}
                  <tr>
                    <td>{{ items.customer.name }}</td>
                    <td>{{ items.get_address}}</td>
                    <td>{{ items.order.date_ordered }}</td>
                    <td>{{ items.order.transaction_id }}</td>
                    <td>{{ items.order.total_order_items }}</td>
                    <td>{{ items.order.ordered_items }}</td>
                    <td>&#8369 {{ items.order.total_order_cost|floatformat:2 }}</td>
                    <td>{{ items.order.delivery_status }}</td>
                    <td>
                      <select onchange="update_status('{{ items.order.transaction_id }}', 'delivery', '{{ items.order.transaction_id }}-delivery')" id="{{ items.order.transaction_id }}-delivery" class="form-control">
                        <option value="" selected>---------</option>
                        <option value="PENDING">PENDING</option>
                        <option value="FOR DELIVERY">FOR DELIVERY</option>
                        <option value="DELIVERED">DELIVERED</option>
                      </select>
                    </td>
                  </tr>
                {% endfor %}  
                </tbody>
              </table>
        </div>
    </div>
</div>



<script type="text/javascript">

function update_status(id, action, search_id){
    var item_url = '/status_update/'
    var name = id
    var search_id = search_id
    var action = action
    var choice_value1 = document.getElementById(search_id).value

    send_fetch(choice_value1);

    function send_fetch(choice_value) {

        fetch(item_url, {
          method: 'POST',
          headers: {
              'Content-Type':'application/json',
              'X-CSRFToken': csrftoken,
          },
          body: JSON.stringify({'name':id, 'action':action, 'choice_value':choice_value})
      })
      .then((response) => {
          return response.json()
      })
      .then((data) => {
          console.log('data:', data)
          location.reload()
      })

    }

    

}

</script>



{% endblock content %}