{% extends "marketplace/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content%}
<section>
    <div style="margin: auto; padding: 20px;">
        <div class="alert alert-success" role="alert">
            An email has been sent to your email address with instructions on how to reset your password.
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a href="{% url 'marketplace-home' %}">Return to Main Menu</a>
            </small>
        </div>
    </div>
</section>

{% endblock content%}