{% extends "marketplace/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content%}
<section>
    <div style="margin: auto; padding: 20px;">
        <div class="alert alert-success" role="alert">
            You have succesfully changed your password. 
            <div class="border-top pt-3">
                <small class="text-muted">
                    <a href="{% url 'login' %}">Return to login</a>
                </small>
            </div>
    </div>
</section>
<script type="text/javascript">

    setTimeout(function(){
   window.location.replace("{% url 'login' %}");
}, 5000);

    setTimeout();
</script>
{% endblock content%}